script{
  display: none;
}
body{
  /*box-sizing: content-box;*/
  color: #E8E8B0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1d1a05;
}
.content {
  width: 80%;
  margin-right: 15%;
  margin-left: 12%;
  padding-bottom: 30px;
}
nav{
  z-index: 1;
  background-color: #ca3c25;
  box-sizing: border-box;
  position: fixed;
  padding-left:12%;
  width: 100%;
}
nav ul > li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}
nav ul li > a{
  color: #E8E8B0;
}
nav ul li > a:hover{
  background-color: white;
  color: #ca3c25;
}
div.box-imgs{
  padding: 72px 2% 0 2%;
}
figure {
  width: 180px;
  height: 170px;
  margin-left: 0;
  display: inline-block;
}
figure img{
  width: 100%;
  height: 100%;
  filter: grayscale();
  border: solid 5px grey;
}
figure > span {
  font-weight: bold;
  position: relative;
  bottom: 170px;
  right: -15px;
  /*color: white;*/
}
.box-option{
  padding: 2% 2% 0 2%;
}
.box-option span{
  display: inline-block;
  background-color: #ca3c25;
  padding: 5px;
  width: 28%;
  border: solid 1px transparent;
  font-size: 1.2rem;
  text-align: center;
}
.box-option span:active{
  border: solid 1px white;
}
.box-info {
  width: 45%;
  display: inline-block;
  text-align: justify ;
  padding: 2% 21px 2% 10px;

}
.displayNone{
  display: none;
}
.visibilityHidden{
  visibility: hidden;
}
